<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" type="text/css" href="../style.css">
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    p {
      width: 50%;
      margin: 0 auto;
      font: 30px monospace;
    }
    .update {
      text-align: center;
      max-width: 50%;
      margin: 25px auto;
      font-size: 20px;
    }
    .update button {
      width: 150px;
      border: 1px solid #000;
      cursor: pointer;
      height: 20px;
    }
  </style>
</head>
<body>
  <% include partials/_header %>
  <% include partials/_nav %>
  <p>Your short URL is <a href="localhost:8080/u/<%= url.short %>">localhost:8080/u/<%= url.short %></a><br>
    It was visited <span><%= url.long[1] %></span> times<br>
    Unique Visits: <span><%= url.long[2] %></span>
  </p>
  <form class="update" action="/urls/<%=url.short%>/update?_method=PUT" method="POST">
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <button>Update your URL</button>
  </form>

</body>
</html>
